{% extends "layout.html" %}

{% block title %}Home | NicheTrip{% endblock %}

{% block content %}
  <main class="hero">
    <div class="hero-text">
      <h1>A better way to travel</h1>
      <p>
        You've seen all the popular sights in the first two days. Now what?
        Our AI-powered trip planner gives you recommendations beyond the
        tourist hotspots, so you can enjoy everything your travel destination
        has to offer.
      </p>
      <a href="/query" class="btn btn-dark">Try now</a>
    </div>
    <div class="hero-image">
      <img src="{{ url_for('static', path='travel.jpg') }}" alt="travel" />
    </div>
  </main>

  <section class="info-section">
    <div class="info-card">
      <h3>Give us your travel preferences</h3>
      <p>
        What city do you want to see? What kinds of places do you want to expore? What are your prefered ways of traveling?
      </p>
    </div>

    <div class="info-card">
      <h3>Let ai give you ideas</h3>
      <p>
        Sit back and let ai plan out all the places you see. 
      </p>
    </div>

    <div class="info-card">
      <h3>Finalize your itinerary</h3>
      <p>
        Get tailored places to see to make a truly memorable travel experience.
      </p>
    </div>
  </section>
{% endblock %}
