{% extends "layout.html" %}
{% block title %}{{ city }} Travel Ideas | NicheTrip{% endblock %}

{% block content %}
<main class="results-container">
  <h1>Hidden Gems in {{ city }}</h1>
  <section class="tiles">
    {% for place in places %}
    <div class="tile">
      <div class="tile-header">
        <h2>{{ place.name }}</h2>
        <p class="tile-type">{{ place.type }}</p>
      </div>
      <p class="tile-desc">{{ place.description }}</p>
      <p class="tile-location">
        <!--{{ place.location.city }}, {{ place.location.country }}-->
      </p>
    </div>
    {% endfor %}
  </section>
</main>
{% endblock %}
