<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>NicheTrip</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
    <link rel="icon" href="/static/nichelogo_sm.png">
  </head>

  <body>
    <!-- Navbar -->
    <header class="navbar">
      <div class="logo">
        <img src="/static/nichelogo_sm.png" alt="NicheTrip logo" />
        <span>NicheTarip</span>
      </div>
      <nav>
        <a href="/query" class="nav-link">Plan a trip</a>
        <button class="btn btn-dark">Register</button>
      </nav>
    </header>

  <!-- Page content -->
  {% block content %}{% endblock %}

  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script src="/static/main.js"></script>
</body>
</html>