<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>NicheTrip</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="/static/nichelogo.png">
  </head>

  <body>
    <!-- Navbar -->
    <header class="navbar">
      <div class="logo">
        <img src="{{ url_for('static', filename='static/nichelogo.png') }}" alt="NicheTrip logo" />
        <span>NicheTrip</span>
      </div>
      <nav>
        <a href="#" class="nav-link">Plan a trip</a>
        <button class="btn btn-dark">Register</button>
      </nav>
    </header>

  <!-- Page content -->
  {% block content %}{% endblock %}
</body>
</html>